<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aircrafts within a radius of 450 km from Paris</title>
</head>
<body>

<h1>Aircrafts<h1></h1>
{% for item in items %}
    <p>{{ item[0] or "Unknown" }} - {{ item[1] }}, {{ item[2] }}</p>
{% endfor %}
</body>
</html>